streamlit
python-dotenv
yt-dlp
pydub
openai-whisper
torch
torchvision
torchaudio
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-mistralai
sentence-transformers
chromadb
mistralai
requests
ffmpeg-python